@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-gradient {
  background: linear-gradient(
    0deg,
    rgba(52, 152, 219, 0.5691526610644257) 1%,
    rgba(255, 255, 255, 0.3394607843137255) 13%
  );
}

.marquee-partner {
  animation: marquee 120s linear infinite;
}

@keyframes marquee {
  100% {
    transform: translateX(-3000px);
  }
}
